nav{
	text-align:center;
}
nav ul{
	text-align:center;
	margin: 0;
	padding:none;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc; 
}
nav li {
	display: inline; }
nav li a {
	display: inline-block;
	padding:8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	 }

nav li a:hover {
	color: #c00;
	background-color: #fff; }
	
#logout {
	
	float:right;
	font-weight: bold;
	
}
