<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
  
  <link rel='stylesheet' href='/stylesheets/popbox.css' type='text/css' media='screen' charset='utf-8'>
  <script type='text/javascript' charset='utf-8' src='/JS/jquery.js'></script>
  <script type='text/javascript' charset='utf-8' src='/JS/popbox.js'></script>
  <script src="/JS/bPopUp.js"></script>

  <script type='text/javascript' charset='utf-8'>
  function showButton(id, listname){
  
    var xBtn = $("#" + id).children(".closeSign");
    xBtn.unbind('click').click(function () { clickFunc(document.getElementById(id),listname)});
    xBtn.css("display", "inline");   
    xBtn.click(function () { clickFunc(document.getElementById(id),listname)});
  }

function clickFunc(obj,listname){

    $.ajax({
    type:"POST",
    url:"/DeleteEntry",
    data: {listName:listname,
    		title:obj.innerText},   
   	success:function(resp){
    	showList(listname);
    }
    });
    xBtn.unbind('click').click(function () { clickFunc(document.getElementById(id),listname)});
}
function hideButton(id, listname){
    
    $(".closeSign").css("display", "none");
    $(".closeSign").onclick="";
}
   function fillDiv(listval, listname){
    	var t = document.getElementById("listVal");
    	t.innerHTML=""
    	var list = listval.split(", ")
    	for(var i=0; i<list.length;i++){
    	
    		t.innerHTML=t.innerHTML+ "<div id='entry"+i+"' class='outer'><img class ='closeSign' src='/images/closebutton1' style='display:none'>"+list[i]+"</div>";
    	}
	$(".outer").hover(
    function() {showButton(this.id, listname);},
    function() {hideButton(this.id, listname);});
    	t.style.cssText="";
    }
    function showList(listID){
    	var t="#"+listID;
    	var v = window[listID];
    	$.ajax({
    	type: "POST",
  		url: "/GetUserList",
  		data: {listName: listID},
  		success: function(resp){
  		
  		dat = resp.replace(/u'/g,"").replace(/'/g,"").replace(/[\[\]]/g,"")
  		fillDiv(dat, listID);
  		
    	$('#listVal').bPopup().close();//incase this was already open
    	$('#listVal').bPopup();
  		}
});
    	

    }
    $(document).ready(function(){
      $('.popbox').popbox();
		

    });
    

	
    
   
  </script>
    <style type='text/css' media='screen'>
    label { display: block; }
    form { margin: 25px; text-align:left }
    form input[type=text] { padding:5px; width:90%; border:solid 1px #CCC;}
    form textarea { padding:5px; width:90%; border:solid 1px #CCC; height:100px;}

    .box { width:350px; }

     footer {
       font-size:12px;
     }
     form a, footer a { color:#40738d; }
  </style>
</head>

<div  id="listVal" class="toShow"></div>
  <div class='popbox'>
    <a class='open' href='#'>
      Create New List
    </a>

    <div class='collapse'>
      <div class='box'>
        <div class='arrow'></div>
        <div class='arrow-border'></div>

        <form action="/ManageLists" method="post" id="subForm">
          <p><small>What name would you like to give this list? Your list names must be unique</small></p>
          <div class="input">
            <input type="text" name="listName" placeholder="Name" />
          </div>
        </form>

      </div>
    </div>
  </div>
  <div style="text-align:center">
{% if results %}
<p>These are your lists:<br/>

{% for r in results %}
<a  onclick='showList("{{r.name|safe}}")' href="javascript:void(0);" id="{{r.name}}">{{r.name}}</a>
    <br/>
{% endfor %}

</p>
{% else %}
<p> You have no lists<p>
{% endif %}
</div>